html {
    cursor: url(images/fly-swatter.png) 30 30, auto;
}

body {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.fly1 {
    width: 50px;
    height: 50px;
}

.fly2 {
    width: 70px;
    height: 70px;
}

.fly3 {
    width: 90px;
    height: 90px;
}

.sideR {
    transform: scaleX(1);
}

.sideL {
    transform: scaleX(-1);
}

.panel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7
}

.lifes {
    float: left
}

.chronometer {
    float: left;
    font-size: 20px;
    font-weight: bold
}